/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom right,
    #fdf4ee,
    #fcf6ee,
    #fdf1ed,
    #e8e9eb
  );
  background-attachment: fixed;
  height: 100vh;
  color: #313638;
  width: calc(100% - 98px);
  position: relative;
  left: 88px;
  transition: all 0.5s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  margin-bottom: 20px;
}

p {
  font-family: "Questrial", sans-serif;
  line-height: 1.5;
  margin-bottom: 10px;
}

.body {
  padding: 8px 40px;
}
